# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ClionProject\Address book management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
